.mission-feed-container {
    margin: 6px;
    display: flex;
    flex-direction: column;
}

.date-offset {
    padding: 16px 0px;
}

.reward-offset {
    padding: 0px 10px;
}

.ant-btn {
    color: rgba(0, 0, 0, 0.85) !important
}

.ant-btn:hover,
.ant-btn:focus,
.ant-btn:active {
    background: #A8CAFF !important;
}

iframe {
    width: 100%;
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}